.navbar{
  box-shadow: 0px 0px 21px 1px #888888;
  background-color: white;

}
.first {
  height: 20px;
}
.navbar-light .navbar-nav .nav-link{
// color: rgba(0,172,255,255);
color: rgb(170, 164, 164);
font-weight: bolder;

}
.nav-item {

  width: 110px;
  //    height: 20px;
  //    border:solid black;
}

.navbar-toggler {
  border-radius: 8px;
  // background-color: black;
  font-size: small;
  color: white;
}

.navbar-light .navbar-toggler {

  border-color: white;
  border: solid white;
}
.navbar-brand{
  padding-top: 5px;
}
.navbar-brand img{
  width: 120px;
  padding-top: 10px;


}
footer{
  background-image: linear-gradient(to right top, #d1d4d9, #d2d7de, #d2d9e3, #d3dce7, #d3dfec);
  // height: 50vh;
}
.list li{
  padding-bottom: 8px;

}
.icon{
 font-size: xx-large;

}
.icon i{
  width: 50px;
}
.list li a{
  color: black;
}
.btn{
  // margin-left: 125px;
}
.navbtn{
 border-radius: 15px;
 background-color: rgb(170, 164, 164);
 padding-left: 35px;
 padding-right: 35px;
padding-top: 13px;
padding-bottom: 13px;
 display: inline-block;
 font-size: 16px;
 font-weight: bolder;
 color: white;
}
